/* price-tag ribbon-4 */
.ribbon{
    position: relative;
}
.ribbon-4{
    width: auto;
    height: 50px;
    background: #6BA11F;
    color: #FFFFFF;
    top: -5px;
    right: -20px;
    padding: 8.5px 10px 10px 35px;
}
.ribbon-4:before{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    border-left: 5px solid #14455b;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #14455b;
}
.ribbon-4:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: 25px solid #fff;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}